
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/About.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <p> User Name:@ViewBag.user.name</p>
    <p> User Address:@ViewBag.user.address</p>
    <p> User Email:@ViewBag.user.email</p>
</body>
</html>